version: '3.8'

services:
  app:
    build: .
    container_name: slack-reaction-indexer
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    restart: unless-stopped
    tty: true
    stdin_open: true 